@model IEnumerable<havhavli.Models.Product>

@{
    ViewData["Title"] = "מוצרי החנות";
}

<h1>מוצרי החנות</h1>
@if (Context.User != null && Context.User.Claims != null && Context.User.Claims.Count() > 0 && Context.User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">הוסף מוצר</a>
    </p>
}
    <form asp-action="Search">
        <input name="Query" placeholder="חיפוש..." />

        <input type="submit" value="חיפוש" class="btn btn-primary" />
    </form>

    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="card col-3" style="width: 18rem;">
                    <img src="@item.Image" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text"> @item.Description</p>
                        <p class="card-text"> @item.Price ש"ח</p>
                        <a href="#" class="btn btn-primary">הוסף לסל הקניות</a>
                        @if (Context.User != null && Context.User.Claims != null && Context.User.Claims.Count() > 0 && Context.User.IsInRole("Admin"))
                        {
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id">ערוך מוצר</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">מחק מוצר</a>
                            </td>
                        }
                        </div>
                </div>
                

            }
        </div>
    </div>